<div class="container">
  <%= simple_form_for @character do |f| %>
    <%= f.input :name %>
    <%= f.input :species %>
    <%= f.input :age %>
    <%= f.input :img_url %>
    <%= f.button :submit %>
  <% end %>
</div>
